<h1>typescript works!</h1>
<h1>Nombre: {{nombre}}</h1>
<p>Apellido: {{apellido}}</p>
<p>Null:{{variable}}</p>
<p>Any:{{variable2}}</p>
<p>Undefined:{{variable3}}</p>
<p>Unknown:{{variable4}}</p>
<p>Never: {{variable5}}</p>
<p>Void: {{variable6}}</p>
<p>{{frutas}}</p>
<p>Fruta:{{fruta.nombre}} | Sabor: {{fruta.sabor}} | Color:{{fruta.color}}
| Peso:{{fruta.peso}}gr | Precio: {{fruta.precio}} | Es Caduco:{{fruta.caducidad}}</p>
<!--<p>{{VenderONoVender()}}</p>-->

<!--@if (fruta.caducidad) {-->
<!--  <p>No Vender</p>-->
<!--} @else {-->
<!--  <p>Vender</p>-->
<!--}-->

<p>{{fruta.caducidad? 'No Vender': 'Vender'}}</p>

<p>Nota Final {{calcularmedia(notas)}}</p>

<p>metodo: {{metodoCalcular(fruta.caducidad, fruta.peso)}}</p>
